<form method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" id="title" type="text" name="title">
    </div>
    <input class="btn btn-success" type="submit" value="Valider">
</form>
